{% extends 'base.html' %}

{% block title %} {{subject}} {% endblock %}

{% block head %} 

{% endblock %}

{% block section %}

    <h1 class="text-5xl font-bold text-center mb-6">Groups for {{subject}} </h1>

    {% if name == 'admin' %}
        <h3>hello {{name}}, what changes would you like to make today?</h3>
        <form action="/subject_action", method="POST">
            Add new group: <input type="text" name="add_group">
            Delete group: <input type="text" name="delete_group">
            <!-- submit the subject name as a parameter to update the database with groups we add or delete -->
            <input type="hidden" name="subject" value="{{subject}}">
            <input type="submit" value="Update"> 
        </form>
        <h3>All groups in {{subject}}: </h3>
        {% for group in joined_list %}
        <li><a href="/groups/{{ group[0] }}">{{ group[0] }}</a></li>
        {% endfor %}
    {% elif name %}    
        <h3 class="text-2xl mb-3">Hello {{name}}, what groups do you want to join?</h3>
        <section class="">
            <div class="">
                <h3>Groups you have joined: </h3>
                {% for group in joined_list %}
                <li><a href="/groups/{{ group[0] }}">{{ group[0] }}</a></li>
                {% endfor %}
            </div>
            <div class="groups_not_joined">
                <h3>Other groups you can join: </h3>
                <!-- add a join button for groups that user has not joined yet -->
                {% for group in not_joined_list %}
                <div>
                    <li>{{ group[0] }}</li>
                    <form action="/group_join", method="POST">
                        <input type="submit" name="join" value="join">
                        <input type="hidden" name="groupname" value="{{ group[0] }}">
                    </form>
                </div>
                {% endfor %}
            </div>
    {% else %}
            {% for group in not_joined_list %}
            <div>
                <li>{{ group[0] }}</li>
            </div>
            {% endfor %}
            <h3 class="text-gray-400">You can't join groups yet. Please sign in or sign up <a href="{{url_for('signup')}}" class="text-gray-400 hover:text-orange-500">here</a></h3>
        </section>
    {% endif %}
    
{% endblock %}