.group_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    box-sizing: 5px;
    gap: 50vh;
}

.groups_joined {
    border-style: solid;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    height: 100%;
}

.groups_joined > li {
    list-style: none;
    margin: 20px;
    
}

.groups_joined > li > a {
    text-decoration: none;
    color:limegreen;
}

.groups_not_joined {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-style: solid;
    height: 100%;
}

.groups_not_joined > div > li {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin: 20px;
}

.groups_not_joined > div > form {
    display: inline-block;
}

.content {
    text-align: center;
    
}