{% extends 'base.html' %}

{% block title %} Group - {{groupname}} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/group.css">
{% endblock %}

{% block section %}

    <h1>Hi {{name}}! Welcome to the team! Let's start coding.</h1>

    {% if name == 'admin' %}

        <h3>Do something as admin</h3>

    {% elif name %}    

        <h2>Struggling with a problem? Post a question on this page!</h2>

        <div>
            <form action="/msg_post" method="POST">
                <p><label for="msg_box">Write your question below: </label></p>
                <textarea id="msg_box" name="msg_box" rows="4" cols="80"></textarea>
                <!-- store the user's name and groupname as variables when this form is posted -->
                <input type="hidden" value="{{ name }}" name="name">
                <input type="hidden" value="{{ groupname }}" name="groupname">
                <input type="submit" value="Submit">
            </form>
        </div>

        <h1>Posts:</h1>
        <section class="group_page">
            {% for post in group_posts %}
            <div>
                <div className="comment-content">
                    <div className="comment-author">{{post[0]}}</div>
                    <div>{{post[1]}}</div>
                </div>
                <div>{{ post[2] }}</div>
            </div>
            {% endfor %}
        </section>

    {% endif %}

{% endblock %}