{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block section %}

    <div class="md:w-2/3 mb-16">
        <h1 class="text-4xl text-center font-bold">What we do</h1>
        <p class="justify mt-16 px-16 text-xl text-slate-300">

            We understand that traditional learning methods may not always be sufficient for everyone, which is why we have created a dynamic online space that caters to different learning styles and preferences. Whether you are a student looking to excel academically, a professional seeking to upskill, or an individual pursuing your craft and passions, our platform is here to support you every step of the way.
                        
        </p>

        <p class="justify mt-8 px-16 text-xl text-slate-300">

            Embrace curiosity, ask thought-provoking questions, and challenge the status quo as you embark on your journey of self-discovery. 
                     
            Join our online study group community and embark on a transformative educational journey that will empower you to achieve your aspirations, make meaningful connections, and realize your full potential.
            
            We look forward to having you as part of our community!
            
            The Team at Study Group Manager
        </p>
    </div>

{% endblock %}