<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Study Group Finder</title>
    {% block head %}{% endblock %}
</head>
<body>

    <nav>
        {% block header %}{% endblock %}

        <a href="{{url_for('index')}}">Home</a>
        <!-- show login or logout buttons if cookie exists in name variable -->
        {% if name %} 
            <a href="{{url_for('logout')}}">Logout</a>
        {% else %}
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('signup')}}">Sign up</a>
        {% endif %}
            

        
        {% if name %}
            <h4>Logged in as {{ name }}</h4>
        {% endif %}

    </nav>

    <main>
        {% block section %}{% endblock %}
    </main>
</body>
</html>