{% extends 'base.html' %}

{% block title %}Communities{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/subjects.css">
{% endblock %}

{% block section %}

    <h1>Communities you could be a part of:</h1>

    <!-- in this case, url_for is difficult to use as indexed variables don't work....so we use html instead -->
    <section class="subject_list">
        {% for title in subjects %}
            <li><a href="/subjects/{{ title[0] }}">{{ title[0] }}</a></li>
        {% endfor %}
    </section>
   
    <section class="admin_form">
        {% if name == 'admin' %}

        <form action="/subjects" method="POST">
            Add new subject: <input type="text" name="add_subject">
            Delete subject: <input type="text" name="delete_subject">
            <input type="submit" value="Update">
        </form>

        {% endif %}
    </section>
  

{% endblock %}